
body {
    background-attachment: fixed;
    font-family: 'Afacad';
}


html, body {
    overflow-x: hidden;
	height: 100%;
    margin: 0;
    padding: 0;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

footer ul {
    list-style-type: none;
}

footer ul li a {
    float: left;
}

.btn-custom {
    color: white;
    background-color: #73005B;
}

.btn-custom:hover {
	background: #730040;
	color: #ffffff;
}

.btn-custom2 {
    color: #ffffff;
    background-color: #1E0056;
}

.btn-custom2:hover {
    background-color: #1E0069;
    color: #ffffff
}

.btn-custom3 {
    color: #73005B;
    background-color: transparent;
    border: 2px solid #73005B;
}

.btn-custom3:hover {
    color: #ffff;
    background-color: #73005B;
    border: 1px solid #73005B;
}

#caracteristicas h1, h2 {
    color: #7c25f8;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.b-example-divider {
    height: 0.1rem;
    background-color: #DA70D6;
  }

.bg-card-restaurante {
    background: url(../imagens/restaurante.png), #f05454;
}
.bg-card-mercado {
    background: url(../imagens/frutasmercado.png);
}

.bg1 {
    background: linear-gradient(50deg,#db0000,#01459f);
}

.card a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out;
}

.card a:hover {
    transform: translateX(5px);
}

.custom-input {
    width: 50px;
}
#video-apresentacao {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

h1, h2, h3 {
    color: #73005B;
}

#vantagens h3 {
    color: #ffffff;
    font-size: bold;
}

/* Aumenta a altura do carrossel */
#myCarousel .carousel-item {
    height: 600px; /* Ajuste essa altura conforme a necessidade */
}

/* Garante que as imagens ocupem toda a altura do slide */
#myCarousel .carousel-item svg {
    height: 100%;
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Mantém a proporção 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#vantagens .vantagens:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

/* Efeito de hover para as linhas da tabela */
.table tbody tr {
    transition: background-color 0.3s, transform 0.3s;
}

.table tbody tr:hover {
    background-color: #f2f2f2; /* Cor de fundo ao passar o mouse */
    transform: translateY(-2px); /* Levanta ligeiramente a linha */
}

.form-select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-floating {
    position: relative;
    margin-bottom: 1rem;
}

.img-perfil {
    width: 250px; /* Define a largura da imagem */
    height: 250px; /* Define a altura da imagem */
    border-radius: 10%;
    object-fit: cover; /* Ajusta a imagem para preencher o espaço sem distorção */
    border: 3px solid #ddd; /* Adiciona uma borda suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra leve */
}